html {
    background-image: url(../images/photo-1506368083636-6defb67639a7.jpeg);
    background-size: cover;
    position: relative;
    min-height: 100%;
}

body {
    background-color: transparent;
    margin-bottom: 60px; /* Margin bottom by footer height */
}

.container {
    background-color: transparent;
}

#logo-banner {
    margin-bottom: 0px;
    /* border-bottom: 2px solid gray; */
    border-radius: 0 !important;
    /* height: 10em; */
    background-image: url(../images/photo-1482049016688-2d3e1b311543.jpg);
    background-size: cover;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.navbar {
    margin-bottom: 2em;
    -webkit-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.3);
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.3);
}

.fixed-btn {
    width: 100%;
    height: 7em;
    background-color: rgb(253, 253, 253);
    border: 1px solid #3c3c3c;
    color: #3c3c3c;
    text-transform: uppercase;
}

.fixed-btn:hover {
    background-color: #93a091;
}


.card {
    margin-bottom: 1em;
}

.card-body {
    background-color: #F7F7F7;
}

.card-header {
    background-color: #bcccb9;
}

#dish-container {
    background-color: #F7F7F7;
}

#dish-results,
#ingredient-insert,
#ingredients-results,
#shopping-list {
    background-color: white;
}

#the-navbar {
    background-color: #bcccb9;
    color: #d4ffcc;
}

.shadow {
    -webkit-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.3);
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.3);
}

#fa-icon {
    margin-right: 0.5em;
}

#user-input {
    width: 100%;
}

#dish-container {
    width: 100%;
}

#dish-results {
    width: 100%;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
    font-size: smaller;
}
    
.speaker-info {
    border: 1px solid #dfe2e5;
    border-radius: 5px;
    margin-top: 88px;
    padding-bottom: 22px;
    text-align: center;
  }

.speaker {
    margin-bottom: 44px;
}

.speaker-info img{
    border-radius: 50%;
    height: 130px;
    margin: -66px 0 22px 0;
    vertical-align: top;
}

#recipe-frame {
    width: 100%;
    height: 650px;
}

.scroll-wrapper {
	-webkit-overflow-scrolling: touch;
  	overflow-y: scroll;

	/* important:  dimensions or positioning here! */
}

.scroll-wrapper iframe {
	/* nada! */
}